[core]
    # autocrlf settings:
    #     true  | Converts LF endings into CRLF (Windows format) when you check out code. Good for Windows.
    #     input | Converts errant CRLF (Windows format) to LF on commit. Good for Linux/ Mac.
    autocrlf = input

    # safecrllf settings:
    #     false | Proceeds without warning
    #     warn  | Proceeds with warning
    #     true  | Doesn't proceed
    safecrlf = warn

[diff]
    tool = vimdiff

[color]
    ui = auto

[user]
	name = Dave Payne
	email = dapayne1@gmail.com
